Repository LLap1/lappeteer2.0: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

Path conditions:
  build-document-crud-integ: any of: apps/document-crud/**/*, packages/**/*
  build-document-crud-prod: any of: apps/document-crud/**/*, packages/**/*
  build-document-map-creator-integ: any of: apps/document-map-creator/**/*, packages/**/*
  build-document-map-creator-prod: any of: apps/document-map-creator/**/*, packages/**/*
  build-document-map-pool-integ: any of: apps/document-map-pool/**/*, packages/**/*
  build-document-map-pool-prod: any of: apps/document-map-pool/**/*, packages/**/*
  build-document-processor-integ: any of: apps/document-processor/**/*, packages/**/*
  build-document-processor-prod: any of: apps/document-processor/**/*, packages/**/*
  deploy-document-crud-integ: any of: apps/document-crud/**/*, packages/**/*
  deploy-document-crud-prod: any of: apps/document-crud/**/*, packages/**/*
  deploy-document-map-creator-integ: any of: apps/document-map-creator/**/*, packages/**/*
  deploy-document-map-creator-prod: any of: apps/document-map-creator/**/*, packages/**/*
  deploy-document-map-pool-integ: any of: apps/document-map-pool/**/*, packages/**/*
  deploy-document-map-pool-prod: any of: apps/document-map-pool/**/*, packages/**/*
  deploy-document-processor-integ: any of: apps/document-processor/**/*, packages/**/*
  deploy-document-processor-prod: any of: apps/document-processor/**/*, packages/**/*

exported domain into a different package
  apps/document-crud/package.json
  apps/document-crud/src/app.router.ts
  apps/document-crud/src/main.ts
  apps/document-crud/src/services/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/placeholder-creator.model.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/placeholder-creator.service.ts
  apps/document-crud/src/services/documents/documents.controller.ts
  apps/document-crud/src/services/documents/documents.service.ts
  apps/document-crud/src/services/templates/templates.controller.ts
  apps/document-crud/src/services/templates/templates.service.ts
  package.json
  packages/domain/package.json
  packages/domain/src/document-crud/docs/examples/create-document-input-no-maps.ts
  packages/domain/src/document-crud/docs/examples/create-document-input.example.ts
  packages/domain/src/document-crud/document-crud.errors.ts
  packages/domain/src/document-crud/document-crud.router.ts
  packages/domain/src/document-crud/document-crud.schema.ts
  packages/domain/src/document-crud/documents/documents.errors.ts
  packages/domain/src/document-crud/documents/documents.router.ts
  packages/domain/src/document-crud/documents/documents.schema.ts
  packages/domain/src/document-crud/templates/templates.errors.ts
  packages/domain/src/document-crud/templates/templates.router.ts
  packages/domain/src/document-crud/templates/templates.schema.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

not drawing polygons for now
  packages/domain/src/document-crud/document-crud.router.ts
  packages/domain/src/document-crud/documents/documents.schema.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

removed canvas from package json
  apps/document-crud/package.json
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
Due: build-document-crud-integ, build-document-crud-prod, deploy-document-crud-integ, deploy-document-crud-prod

added abstraction over wms service
  apps/document-crud/src/config.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.model.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.module.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/placeholder-creator.service.ts
  apps/document-crud/src/services/overlays/implementations/mock-overlays.service.ts
  apps/document-crud/src/services/overlays/overlays.model.ts
  apps/document-crud/src/services/overlays/overlays.module.ts
  apps/document-crud/src/services/overlays/overlays.service.ts
  apps/document-crud/src/services/wms/implementations/geoserver-wms.module.ts
  apps/document-crud/src/services/wms/implementations/geoserver-wms.service.ts
  apps/document-crud/src/services/wms/wms.model.ts
  apps/document-crud/src/services/wms/wms.module.ts
  apps/document-crud/src/services/wms/wms.service.ts
  packages/domain/src/document-crud/documents/documents.schema.ts
  packages/types/src/geojson.types.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

now splitting polygon canvases from overlays so you can drag them on map, and keeping z levels
  apps/document-crud/src/services/document-processor/document-processor.model.ts
  apps/document-crud/src/services/document-processor/python-scripts/generate.py
  apps/document-crud/src/services/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.model.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.module.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/placeholder-creator.service.ts
  apps/document-crud/src/services/overlays/overlays.module.ts
  apps/document-crud/src/services/wms/implementations/geoserver-wms.service.ts
  apps/document-crud/src/services/wms/overlays/implementations/mock-overlays.service.ts
  apps/document-crud/src/services/wms/overlays/overlays.model.ts
  apps/document-crud/src/services/wms/overlays/overlays.module.ts
  apps/document-crud/src/services/wms/overlays/overlays.service.ts
  apps/document-crud/src/services/wms/wms.model.ts
  apps/document-crud/src/services/wms/wms.module.ts
  apps/document-crud/src/services/wms/wms.service.ts
  packages/domain/src/document-crud/docs/examples/create-document-input.example.ts
  packages/domain/src/document-crud/documents/documents.schema.ts
  packages/types/src/document.types.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

fixed bug where the rotation of an image left black pixels
  apps/document-crud/src/services/document-processor/python-scripts/generate.py
  packages/domain/src/document-crud/docs/examples/create-document-input.example.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

documentMapCreator - now cropped the final polygon sizing so it wont take up the whole map
  apps/document-crud/package.json
  apps/document-crud/src/services/document-processor/python-scripts/generate.py
  apps/document-crud/src/services/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.model.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/placeholder-creator.service.ts
  packages/domain/src/document-crud/docs/examples/create-document-input.example.ts
  packages/types/src/document.types.ts
  packages/types/src/geojson.types.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

cleaned the code to be more flexible with the internal code
  apps/document-crud/src/config.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/services/wms/implementations/geoserver-wms.module.ts
  apps/document-crud/src/services/wms/implementations/geoserver/geoserver-wms.module.ts
  apps/document-crud/src/services/wms/implementations/geoserver/geoserver-wms.service.ts
  apps/document-crud/src/services/wms/overlays/implementations/mock/mock-overlays.module.ts
  apps/document-crud/src/services/wms/overlays/implementations/mock/mock-overlays.service.ts
  apps/document-crud/src/services/wms/overlays/overlays.imports.ts
  apps/document-crud/src/services/wms/overlays/overlays.module.ts
  apps/document-crud/src/services/wms/wms.imports.ts
  apps/document-crud/src/services/wms/wms.model.ts
  apps/document-crud/src/services/wms/wms.module.ts
  apps/document-crud/src/services/wms/wms.service.ts
Due: build-document-crud-integ, build-document-crud-prod, deploy-document-crud-integ, deploy-document-crud-prod

not handling text resising anymore - not worth the hustle
  apps/document-crud/src/config.ts
  apps/document-crud/src/services/document-processor/python-scripts/generate.py
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  packages/bootstrap/src/crud.ts
  packages/domain/src/document-crud/docs/examples/create-document-input.example.ts
  packages/domain/src/document-crud/document-crud.errors.ts
  packages/domain/src/document-crud/documents/documents.errors.ts
  packages/domain/src/document-crud/documents/documents.schema.ts
  packages/domain/src/document-crud/templates/templates.errors.ts
  packages/nest/src/drizzle/drizzle.module.ts
  packages/nest/src/s3/s3.module.ts
  packages/types/src/geojson.types.ts
  packages/types/src/server.types.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

sorted module di with internal project
  .gitignore
  apps/document-crud/src/services/document-processor/document-processor.model.ts
  apps/document-crud/src/services/document-processor/document-processor.service.ts
  apps/document-crud/src/services/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/services/documents/documents.service.ts
  apps/document-crud/src/services/templates/templates.service.ts
  apps/document-crud/src/services/wms/implementations/geoserver/geoserver-wms.module.ts
  apps/document-crud/src/services/wms/overlays/overlays.imports.ts
  apps/document-crud/src/services/wms/overlays/overlays.module.ts
  apps/document-crud/src/services/wms/wms.module.ts
Due: build-document-crud-integ, build-document-crud-prod, deploy-document-crud-integ, deploy-document-crud-prod

now able to rotate map
  .gitignore
  apps/document-crud/package.json
  apps/document-crud/src/services/document-processor/document-processor.service.ts
  apps/document-crud/src/services/document-processor/python-scripts/generate.py
  apps/document-crud/src/services/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.model.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.module.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/services/wms/overlays/implementations/mock/mock-overlays.service.ts
  apps/document-crud/src/services/wms/overlays/overlays.model.ts
  apps/document-crud/src/services/wms/overlays/overlays.service.ts
  packages/domain/package.json
  packages/domain/src/document-crud/docs/examples/create-document-input.example.ts
  packages/domain/src/document-crud/documents/documents.schema.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

fixed rotation
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/placeholder-creator.service.ts
  packages/domain/src/document-crud/docs/examples/create-document-input.example.ts
  packages/domain/src/document-crud/documents/documents.schema.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

started reverting
  apps/document-crud/package.json
  apps/document-crud/src/main.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.model.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.module.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/placeholder-creator.service.ts
  apps/document-crud/src/services/wms/overlays/implementations/mock/mock-overlays.service.ts
  apps/document-crud/src/services/wms/overlays/overlays.model.ts
Due: build-document-crud-integ, build-document-crud-prod, deploy-document-crud-integ, deploy-document-crud-prod

started reverting
  package.json
  packages/domain/src/document-crud/docs/examples/create-document-input.example.ts
  packages/domain/src/document-crud/documents/documents.schema.ts
  packages/types/src/geojson.types.ts
  packages/utils/src/log.utils.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

reverted to use wmts using puppeteer automation
  apps/document-crud/package.json
  apps/document-crud/src/config.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.model.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.module.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/services/documents/documents.controller.ts
  apps/document-crud/src/services/wms/overlays/implementations/mock/mock-overlays.service.ts
  apps/document-crud/src/services/wms/overlays/overlays.model.ts
  apps/document-map-pool/config.ts
  apps/document-map-pool/index.html
  apps/document-map-pool/package.json
  apps/document-map-pool/src/App.tsx
  apps/document-map-pool/src/ControlledMap.tsx
  apps/document-map-pool/src/ControlledMapPool.tsx
  apps/document-map-pool/src/context/map-pool.context.tsx
  apps/document-map-pool/src/index.css
  apps/document-map-pool/src/main.tsx
  apps/document-map-pool/src/models/map.model.ts
  apps/document-map-pool/src/models/router.model.ts
  apps/document-map-pool/src/reducers/map-pool.reducer.ts
  apps/document-map-pool/src/routers/map.router.ts
  apps/document-map-pool/src/routers/root.ts
  apps/document-map-pool/src/vite-env.d.ts
  apps/document-map-pool/tsconfig.json
  apps/document-map-pool/tsconfig.node.json
  apps/document-map-pool/vite.config.ts
  packages/domain/src/document-crud/documents/documents.schema.ts
  packages/types/src/geojson.types.ts
  packages/typescript-config/react.json
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

fixed rotation
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.module.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/services/overlays/implementations/mock/mock-overlays.service.ts
  apps/document-crud/src/services/overlays/overlays.model.ts
  apps/document-crud/src/services/overlays/overlays.service.ts
  apps/document-crud/src/services/wms/implementations/geoserver/geoserver-wms.module.ts
  apps/document-crud/src/services/wms/implementations/geoserver/geoserver-wms.service.ts
  apps/document-crud/src/services/wms/overlays/implementations/mock/mock-overlays.module.ts
  apps/document-crud/src/services/wms/overlays/implementations/mock/mock-overlays.service.ts
  apps/document-crud/src/services/wms/overlays/overlays.module.ts
  apps/document-crud/src/services/wms/overlays/overlays.service.ts
  apps/document-crud/src/services/wms/wms.imports.ts
  apps/document-crud/src/services/wms/wms.model.ts
  apps/document-crud/src/services/wms/wms.module.ts
  apps/document-crud/src/services/wms/wms.service.ts
  apps/document-map-pool/src/models/map.utils.ts
  apps/document-map-pool/src/routers/map.router.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-pool-integ, build-document-map-pool-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod

now using wms
  apps/document-crud/package.json
  apps/document-crud/src/services/document-processor/document-processor.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.model.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/services/overlays/implementations/mock/mock-overlays.service.ts
  apps/document-crud/src/services/overlays/overlays.model.ts
  apps/document-crud/src/services/overlays/overlays.service.ts
  apps/document-map-pool/config.ts
  apps/document-map-pool/package.json
  apps/document-map-pool/src/ControlledMap.tsx
  apps/document-map-pool/src/models/map.utils.ts
  apps/document-map-pool/src/routers/map.router.ts
  apps/document-map-pool/vite.config.ts
  package.json
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-pool-integ, build-document-map-pool-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod

downgraded versions
  apps/document-crud/package.json
  apps/document-crud/src/main.ts
  apps/document-map-pool/package.json
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-pool-integ, build-document-map-pool-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod
