Repository LLap1/lappeteer2.0: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

Path conditions:
  build-document-crud-integ: any of: apps/document-crud/**/*, packages/**/*
  build-document-crud-prod: any of: apps/document-crud/**/*, packages/**/*
  build-document-map-creator-integ: any of: apps/document-map-creator/**/*, packages/**/*
  build-document-map-creator-prod: any of: apps/document-map-creator/**/*, packages/**/*
  build-document-map-pool-integ: any of: apps/document-map-pool/**/*, packages/**/*
  build-document-map-pool-prod: any of: apps/document-map-pool/**/*, packages/**/*
  build-document-processor-integ: any of: apps/document-processor/**/*, packages/**/*
  build-document-processor-prod: any of: apps/document-processor/**/*, packages/**/*
  deploy-document-crud-integ: any of: apps/document-crud/**/*, packages/**/*
  deploy-document-crud-prod: any of: apps/document-crud/**/*, packages/**/*
  deploy-document-map-creator-integ: any of: apps/document-map-creator/**/*, packages/**/*
  deploy-document-map-creator-prod: any of: apps/document-map-creator/**/*, packages/**/*
  deploy-document-map-pool-integ: any of: apps/document-map-pool/**/*, packages/**/*
  deploy-document-map-pool-prod: any of: apps/document-map-pool/**/*, packages/**/*
  deploy-document-processor-integ: any of: apps/document-processor/**/*, packages/**/*
  deploy-document-processor-prod: any of: apps/document-processor/**/*, packages/**/*

cleaned up the code
  apps/document-crud/package.json
  apps/document-crud/src/app.module.ts
  apps/document-crud/src/docs/examples/create-document-input.example.ts
  apps/document-crud/src/documents/document-creator/document-creator.model.ts
  apps/document-crud/src/documents/document-creator/document-creator.module.ts
  apps/document-crud/src/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/documents/document-creator/document-params-transformer/document-params-transformer.model.ts
  apps/document-crud/src/documents/document-creator/document-params-transformer/document-params-transformer.module.ts
  apps/document-crud/src/documents/document-creator/document-params-transformer/document-params-transformer.service.spec.ts
  apps/document-crud/src/documents/document-creator/document-params-transformer/document-params-transformer.service.ts
  apps/document-crud/src/documents/document-creator/placholder-creator/placeholder-creator.model.ts
  apps/document-crud/src/documents/document-creator/placholder-creator/placeholder-creator.module.ts
  apps/document-crud/src/documents/document-creator/placholder-creator/placeholder-creator.service.ts
  apps/document-crud/src/documents/documents.controller.ts
  apps/document-crud/src/documents/documents.module.ts
  apps/document-crud/src/documents/documents.router.schema.ts
  apps/document-crud/src/documents/documents.service.ts
  apps/document-crud/src/orpc.ts
  apps/document-crud/src/templates/template-metadata/template-metadata.schema.ts
  apps/document-crud/src/templates/template-metadata/template-metadata.service.ts
  apps/document-crud/src/templates/templates.router.schema.ts
  apps/document-crud/src/templates/templates.service.ts
  apps/document-map-creator/src/app.module.ts
  apps/document-map-creator/src/document-map-creator/document-map-creator.router.schema.ts
  apps/document-map-pool/src/ControlledMap.tsx
  apps/document-map-pool/src/models/map.model.ts
  apps/document-map-pool/src/routers/map.router.ts
  apps/document-processor/package.json
  apps/document-processor/src/app.module.ts
  apps/document-processor/src/app.router.schema.ts
  apps/document-processor/src/app.router.ts
  apps/document-processor/src/doucment-proceesor/document-processor.controller.ts
  apps/document-processor/src/doucment-proceesor/document-processor.router.schema.ts
  apps/document-processor/src/doucment-proceesor/document-processor.router.ts
  apps/document-processor/src/doucment-proceesor/document-processor.service.ts
  apps/todo.md
  bun.lock
  packages/server/src/server.ts
  packages/types/src/document.types.ts
  packages/types/src/geojson.types.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

removed unused packages
  .gitignore
  apps/document-crud/bun.lock
  apps/document-crud/package.json
  apps/document-crud/src/config.ts
  apps/document-crud/src/docs/examples/create-document-input-no-maps.ts
  apps/document-crud/src/docs/examples/test.json
  apps/document-crud/src/documents/document-creator/placholder-creator/placeholder-creator.service.ts
  apps/document-crud/src/documents/documents.controller.ts
  apps/document-crud/src/documents/documents.module.ts
  apps/document-crud/src/documents/documents.router.schema.ts
  apps/document-crud/src/documents/documents.router.ts
  apps/document-crud/src/documents/documents.service.ts
  apps/document-map-creator/bun.lock
  apps/document-map-creator/package.json
  apps/document-map-creator/src/document-map-creator/document-map-creator.service.ts
  apps/document-map-pool/package.json
  apps/document-processor/package.json
  bun.lock
  package.json
  packages/nest/package.json
  packages/nest/src/bun-file/module.ts
  packages/nest/src/bun-file/service.ts
  packages/nest/src/file/file.module.ts
  packages/nest/src/file/file.service.ts
  packages/nest/src/orpc-client/orpc-client.module.ts
  packages/nest/src/process/process.module.ts
  packages/nest/src/process/process.service.ts
  packages/nest/src/s3/s3.module.ts
  packages/nest/src/s3/s3.service.ts
  tsconfig.json
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

fixed envs
  apps/document-crud/.env.example
  apps/document-map-creator/.env.example
  apps/document-processor/.env.example
  bun.lock
  package.json
  packages/orpc/src/utils/open-api.ts
  packages/server/src/server.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

updated git ignores
  .gitignore
  apps/document-crud/.gitignore
  apps/document-map-creator/.gitignore
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod

removed bun lcok
  apps/document-map-creator/package.json
  bun.lock
Due: build-document-map-creator-integ, build-document-map-creator-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod

downgraded platform-express
  packages/server/package.json
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

removed packages
  .gitignore
  packages/nest/package.json
  packages/server/package.json
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

updated git ignore
  .gitignore
Due: none

noder
  apps/document-crud/package.json
  apps/document-crud/src/app.module.ts
  apps/document-crud/src/docs/examples/create-document-input-no-maps.ts
  apps/document-crud/src/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/documents/document-creator/placholder-creator/placeholder-creator.model.ts
  apps/document-crud/src/documents/document-creator/placholder-creator/placeholder-creator.service.ts
  apps/document-crud/src/documents/documents.router.ts
  apps/document-crud/src/documents/documents.service.ts
  apps/document-crud/src/microservices.module.ts
  apps/document-crud/src/templates/template-metadata/template-metadata.service.ts
  apps/document-crud/src/templates/templates.service.ts
  apps/document-map-creator/package.json
  apps/document-map-creator/src/app.module.ts
  apps/document-map-creator/src/config.ts
  apps/document-map-creator/src/main.ts
  apps/document-map-creator/src/services/document-map-creator.service.ts
  apps/document-processor/package.json
  apps/document-processor/src/app.module.ts
  apps/document-processor/src/config.ts
  apps/document-processor/src/services/document-processor.service.ts
  packages/bootstrap/package.json
  packages/bootstrap/src/microservice.ts
  packages/bootstrap/src/server.ts
  packages/nest/package.json
  packages/nest/src/logger/logger.module.ts
  packages/utils/package.json
  packages/utils/src/logger.utils.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

now not logging file buffers
  apps/document-crud/package.json
  apps/document-crud/src/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/documents/documents.service.ts
  apps/document-crud/src/templates/template-metadata/template-metadata.service.ts
  apps/document-crud/src/templates/templates.service.ts
  apps/document-map-creator/package.json
  apps/document-map-creator/src/services/document-map-creator.service.ts
  apps/document-processor/package.json
  apps/document-processor/src/services/document-processor.service.ts
  package.json
  packages/utils/package.json
  packages/utils/src/log.utils.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

aligned git example
  apps/document-crud/.env.example
  apps/document-map-creator/.env.example
  apps/document-processor/.env.example
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-processor-integ, deploy-document-processor-prod

downgraded version for ts-proto
  apps/document-map-creator/package.json
  apps/document-processor/package.json
  package.json
Due: build-document-map-creator-integ, build-document-map-creator-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-processor-integ, deploy-document-processor-prod

downgraded versions
  apps/document-crud/package.json
  apps/document-map-creator/package.json
  apps/document-processor/package.json
  package.json
  packages/bootstrap/package.json
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

serving the scalar cdn localy
  apps/document-crud/package.json
  apps/document-crud/public/api-reference-cdn.js
  apps/document-crud/src/app.module.ts
  packages/bootstrap/src/server.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

now replacing inside table cells
  apps/document-processor/src/services/python-scripts/generate.py
  apps/document-processor/src/services/python-scripts/parse.py
Due: build-document-processor-integ, build-document-processor-prod, deploy-document-processor-integ, deploy-document-processor-prod

now creating file instead of s3 ref in s3 service
  apps/document-processor/src/services/document-processor.service.ts
  packages/nest/src/s3/s3.service.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

searching for placeholders better
  apps/document-processor/src/services/python-scripts/generate.py
  apps/document-processor/src/services/python-scripts/parse.py
Due: build-document-processor-integ, build-document-processor-prod, deploy-document-processor-integ, deploy-document-processor-prod

reimplemented the parse
  apps/document-processor/src/services/python-scripts/parse.py
Due: build-document-processor-integ, build-document-processor-prod, deploy-document-processor-integ, deploy-document-processor-prod

fixed parsing
  apps/document-processor/src/services/python-scripts/generate.py
  apps/document-processor/src/services/python-scripts/parse.py
Due: build-document-processor-integ, build-document-processor-prod, deploy-document-processor-integ, deploy-document-processor-prod

removed the print before the actual print
  apps/document-processor/src/services/python-scripts/parse.py
Due: build-document-processor-integ, build-document-processor-prod, deploy-document-processor-integ, deploy-document-processor-prod

now replacing runs instead of whole text to keep styling
  apps/document-crud/src/documents/documents.module.ts
  apps/document-crud/src/documents/documents.service.ts
  apps/document-crud/src/templates/templates.module.ts
  apps/document-crud/src/templates/templates.service.ts
  apps/document-processor/src/services/python-scripts/generate.py
  packages/nest/src/file/file.module.ts
  packages/nest/src/file/file.service.ts
  packages/nest/src/s3/s3.service.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

i want to go home :(
  apps/document-crud/src/config.ts
  apps/document-processor/src/services/python-scripts/generate.py
Due: build-document-crud-integ, build-document-crud-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-processor-integ, deploy-document-processor-prod

NODERRR
  apps/document-processor/src/services/python-scripts/generate.py
Due: build-document-processor-integ, build-document-processor-prod, deploy-document-processor-integ, deploy-document-processor-prod

now placeholder is with color
  apps/document-processor/src/services/python-scripts/generate.py
  apps/document-processor/src/services/python-scripts/parse.py
Due: build-document-processor-integ, build-document-processor-prod, deploy-document-processor-integ, deploy-document-processor-prod

improved logger module
  apps/document-crud/package.json
  apps/document-crud/src/app.module.ts
  apps/document-crud/src/config.ts
  apps/document-map-creator/src/app.module.ts
  apps/document-map-creator/src/config.ts
  apps/document-map-pool/config.ts
  apps/document-processor/src/app.module.ts
  apps/document-processor/src/config.ts
  package.json
  packages/nest/src/logger/logger.module.ts
  packages/nest/src/s3/s3.service.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

now using rxjs
  apps/document-crud/src/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/documents/document-creator/placholder-creator/placeholder-creator.service.ts
  apps/document-crud/src/documents/documents.service.ts
  apps/document-processor/src/services/document-processor.service.ts
  packages/types/src/proto/document-processor.ts
  packages/utils/src/file.utils.ts
  packages/utils/src/log.utils.ts
  proto/document-processor.proto
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

migrated to monolith
  apps/document-crud/package.json
  apps/document-crud/src/app.module.ts
  apps/document-crud/src/config.ts
  apps/document-crud/src/docs/examples/create-document-input-no-maps.ts
  apps/document-crud/src/documents/document-creator/document-creator.module.ts
  apps/document-crud/src/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.model.ts
  apps/document-crud/src/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.module.ts
  apps/document-crud/src/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/documents/document-creator/placholder-creator/placeholder-creator.module.ts
  apps/document-crud/src/documents/document-creator/placholder-creator/placeholder-creator.service.ts
  apps/document-crud/src/documents/document-processor/document-processor.model.ts
  apps/document-crud/src/documents/document-processor/document-processor.module.ts
  apps/document-crud/src/documents/document-processor/document-processor.service.ts
  apps/document-crud/src/documents/document-processor/python-scripts/generate.py
  apps/document-crud/src/documents/document-processor/python-scripts/parse.py
  apps/document-crud/src/microservices.module.ts
  apps/document-crud/src/templates/templates.module.ts
  apps/document-crud/src/templates/templates.service.ts
  apps/document-crud/tsconfig.json
Due: build-document-crud-integ, build-document-crud-prod, deploy-document-crud-integ, deploy-document-crud-prod

sorted errors
  apps/document-crud/src/app.router.ts
  apps/document-crud/src/config.ts
  apps/document-crud/src/docs/examples/create-document-input-no-maps.ts
  apps/document-crud/src/docs/examples/create-document-input.example.ts
  apps/document-crud/src/documents/documents.controller.ts
  apps/document-crud/src/main.ts
  apps/document-crud/src/services/app.module.ts
  apps/document-crud/src/services/document-processor/document-processor.model.ts
  apps/document-crud/src/services/document-processor/document-processor.module.ts
  apps/document-crud/src/services/document-processor/document-processor.service.ts
  apps/document-crud/src/services/document-processor/python-scripts/generate.py
  apps/document-crud/src/services/document-processor/python-scripts/parse.py
  apps/document-crud/src/services/documents/document-creator/document-creator.module.ts
  apps/document-crud/src/services/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.model.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.module.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/document-map-creator/document-map-creator.service.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/placeholder-creator.model.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/placeholder-creator.module.ts
  apps/document-crud/src/services/documents/document-creator/placholder-creator/placeholder-creator.service.ts
  apps/document-crud/src/services/documents/documents.controller.ts
  apps/document-crud/src/services/documents/documents.module.ts
  apps/document-crud/src/services/documents/documents.router.schema.ts
  apps/document-crud/src/services/documents/documents.router.ts
  apps/document-crud/src/services/documents/documents.service.ts
  apps/document-crud/src/services/templates/templates.controller.ts
  apps/document-crud/src/services/templates/templates.module.ts
  apps/document-crud/src/services/templates/templates.router.schema.ts
  apps/document-crud/src/services/templates/templates.router.ts
  apps/document-crud/src/services/templates/templates.service.ts
  apps/document-crud/src/templates/templates.controller.ts
  apps/document-crud/src/templates/templates.service.spec.ts
Due: build-document-crud-integ, build-document-crud-prod, deploy-document-crud-integ, deploy-document-crud-prod

removed microservices
  apps/document-crud/src/app.router.ts
  apps/document-crud/src/services/document-processor/document-processor.model.ts
  apps/document-crud/src/services/document-processor/document-processor.service.ts
  apps/document-crud/src/services/document-processor/python-scripts/generate.py
  apps/document-crud/src/services/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/services/documents/documents.controller.ts
  apps/document-crud/src/services/documents/documents.router.schema.ts
  apps/document-crud/src/services/documents/documents.router.ts
  apps/document-crud/src/services/documents/documents.service.ts
Due: build-document-crud-integ, build-document-crud-prod, deploy-document-crud-integ, deploy-document-crud-prod

removed microservices
  apps/document-crud/src/schemas/template.schema.ts
  apps/document-crud/src/services/documents/documents.service.ts
  apps/document-map-creator/.env.example
  apps/document-map-creator/.gitignore
  apps/document-map-creator/README.md
  apps/document-map-creator/build.config.ts
  apps/document-map-creator/nest-cli.json
  apps/document-map-creator/package.json
  apps/document-map-creator/screenshot.png
  apps/document-map-creator/src/app.module.ts
  apps/document-map-creator/src/config.ts
  apps/document-map-creator/src/main.ts
  apps/document-map-creator/src/services/document-map-creator.model.ts
  apps/document-map-creator/src/services/document-map-creator.module.ts
  apps/document-map-creator/src/services/document-map-creator.service.ts
  apps/document-map-creator/tsconfig.build.json
  apps/document-map-creator/tsconfig.json
  apps/document-processor/.env.example
  apps/document-processor/build.config.ts
  apps/document-processor/nest-cli.json
  apps/document-processor/package.json
  apps/document-processor/src/app.module.ts
  apps/document-processor/src/config.ts
  apps/document-processor/src/main.ts
  apps/document-processor/src/services/document-processor.module.ts
  apps/document-processor/src/services/document-processor.service.ts
  apps/document-processor/src/services/python-scripts/generate.py
  apps/document-processor/src/services/python-scripts/parse.py
  apps/document-processor/tsconfig.build.json
  apps/document-processor/tsconfig.json
  package.json
  packages/types/package.json
  packages/types/src/proto/document-map-creator.ts
  packages/types/src/proto/document-processor.ts
  packages/utils/src/file.utils.ts
  packages/utils/src/log.utils.ts
  proto/document-map-creator.proto
  proto/document-processor.proto
  proto/types/proto/document-map-creator.ts
  proto/types/proto/document-processor.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

sorted packages
  apps/document-crud/package.json
  packages/bootstrap/package.json
  packages/types/package.json
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

updated example env
  apps/document-crud/.env.example
Due: build-document-crud-integ, build-document-crud-prod, deploy-document-crud-integ, deploy-document-crud-prod

updated documents / templates relations
  apps/document-crud/src/app.router.ts
  apps/document-crud/src/schemas/document.schema.ts
  apps/document-crud/src/schemas/documents.schema.ts
  apps/document-crud/src/schemas/templates.schema.ts
  apps/document-crud/src/services/documents/documents.controller.ts
  apps/document-crud/src/services/documents/documents.router.ts
  apps/document-crud/src/services/documents/documents.service.ts
  apps/document-crud/src/services/templates/templates.controller.ts
  apps/document-crud/src/services/templates/templates.router.schema.ts
  apps/document-crud/src/services/templates/templates.router.ts
  apps/document-crud/src/services/templates/templates.service.ts
Due: build-document-crud-integ, build-document-crud-prod, deploy-document-crud-integ, deploy-document-crud-prod

now fixing size for table cells
  apps/document-crud/src/services/document-processor/python-scripts/generate.py
Due: build-document-crud-integ, build-document-crud-prod, deploy-document-crud-integ, deploy-document-crud-prod

NODER
  apps/document-crud/src/services/document-processor/python-scripts/generate.py
Due: build-document-crud-integ, build-document-crud-prod, deploy-document-crud-integ, deploy-document-crud-prod

noder
  apps/document-crud/src/docs/examples/create-document-input-no-maps.ts
Due: build-document-crud-integ, build-document-crud-prod, deploy-document-crud-integ, deploy-document-crud-prod

added the option to delete slides
  apps/document-crud/src/app.router.errors.ts
  apps/document-crud/src/app.router.ts
  apps/document-crud/src/docs/examples/create-document-input-no-maps.ts
  apps/document-crud/src/docs/examples/create-document-input.example.ts
  apps/document-crud/src/schemas/documents.schema.ts
  apps/document-crud/src/schemas/templates.schema.ts
  apps/document-crud/src/services/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/services/documents/document.router.errors.ts
  apps/document-crud/src/services/documents/documents.controller.ts
  apps/document-crud/src/services/documents/documents.module.ts
  apps/document-crud/src/services/documents/documents.router.schema.ts
  apps/document-crud/src/services/documents/documents.router.ts
  apps/document-crud/src/services/documents/documents.service.ts
  apps/document-crud/src/services/templates/templates.controller.ts
  apps/document-crud/src/services/templates/templates.router.errors.ts
  apps/document-crud/src/services/templates/templates.router.schema.ts
  apps/document-crud/src/services/templates/templates.router.ts
  apps/document-crud/src/services/templates/templates.service.ts
  packages/nest/src/s3/s3.module.ts
  packages/nest/src/s3/s3.service.ts
  packages/types/src/document.types.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod

added logs
  apps/document-crud/.env.example
  apps/document-crud/package.json
  apps/document-crud/src/config.ts
  apps/document-crud/src/docs/examples/create-document-input-no-maps.ts
  apps/document-crud/src/services/app.module.ts
  apps/document-crud/src/services/document-processor/document-processor.model.ts
  apps/document-crud/src/services/document-processor/document-processor.service.ts
  apps/document-crud/src/services/document-processor/python-scripts/generate.py
  apps/document-crud/src/services/documents/document-creator/document-creator.service.ts
  apps/document-crud/src/services/documents/documents.service.ts
  apps/document-crud/src/services/templates/templates.service.ts
  package.json
  packages/bootstrap/package.json
  packages/bootstrap/src/crud.ts
  packages/bootstrap/src/microservice.ts
  packages/nest/package.json
  packages/nest/src/logger/logger.module.ts
  packages/types/src/orpc.types.ts
  packages/utils/src/file.utils.ts
  packages/utils/src/log.utils.ts
Due: build-document-crud-integ, build-document-crud-prod, build-document-map-creator-integ, build-document-map-creator-prod, build-document-map-pool-integ, build-document-map-pool-prod, build-document-processor-integ, build-document-processor-prod, deploy-document-crud-integ, deploy-document-crud-prod, deploy-document-map-creator-integ, deploy-document-map-creator-prod, deploy-document-map-pool-integ, deploy-document-map-pool-prod, deploy-document-processor-integ, deploy-document-processor-prod
